.markets-card {
  .uabb-flip-box-wrap {
    .uabb-front {
      // padding: 0 1em;
      background: $color-white !important;
      box-shadow: $box-shadow !important;

      .uabb-face-text-title, .uabb-flip-box-section-content {
        color: $color-black;
      }

      hr {
        width: 40%;
        background: #951F4D;
        height: 3px;
        box-shadow: none;
        border: 2px solid #951F4D;
        text-align: center;
        margin: 0 auto 10px;
      }
    }

    .uabb-back {
      background: $color-green !important;
      box-shadow: $box-shadow !important;

      .uabb-button {
        background: transparent;
        border: 1px solid $color-white;
        text-decoration: none;

        &:hover {
          background: $color-white;

          .uabb-button-text {
            color: $color-green;
          }
        }
      }
    }
  }
}

.cards-equalheight {
  .bb_boot_card_text {
    min-height: 205px;

    @media #{$small-and-down} {
      min-height: auto;
    }
  }
}

.cbb-selfie-wall {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  &__mobile-msg {
    margin-bottom: 2rem;

    @media #{$medium-and-up} {
      display: none;
    }
  }

  &__grid {
    position: relative;
    max-width: 70rem;
    padding: 0;
    margin: 0 auto;

    @extend .browser-default;
  }

  &__grid-item {
    width: 10rem;
    height: 10rem;
    border-radius: 100%;
    background-color: #F2F2F2;
    overflow: hidden;
    padding: 0 !important;
    transition: all 0.3s ease-in-out;
    // Simple fallback for non-CSS Grid support.
    display: inline-block;
    margin: 0.4rem;

    &:hover,
    &:focus {
      outline: 0;

      figcaption {
        opacity: 1;
      }

      figcaption > * {
        transform: translateY(0);
      }
    }

    &::before {
      display: none !important;
    }
  }

  figure {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    height: 0;
    padding-bottom: 100%;

    img,
    figcaption {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 100%;
    }

    img {
      object-fit: cover;
    }
  }

  figcaption {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    z-index: 10;
    background-color: transparentize($color-green, 0.25);
    color: $color-white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    > * {
      display: block;
      transform: translateY(10px);
      transition: transform 0.3s ease-in-out;
    }

    > strong {
      font-size: 1.25rem;
      font-weight: bold;
      margin-bottom: 0.25rem;
    }
  }
}

@supports (display: grid) {
  .cbb-selfie-wall {
    &__grid {
      display: grid;
      grid-column-gap: 1rem;
      grid-row-gap: 1rem;
      max-width: 30rem;
      grid-template-columns: repeat(4, 4rem);
    }

    &__grid-item {
      width: 9rem;
      height: 9rem;
      grid-column: span 2;
      margin-top: 0;
      margin-right: 0;
      margin-left: 0;
      margin-bottom: -1rem; // shifting up the items in the next row
    }

    &__grid-item:nth-child(even) {
      grid-column: 2;
    }

    &__grid-item:nth-child(3n+1) {
      grid-column: 1;
    }

    &__grid-item:nth-child(3n+2) {
      grid-column: 3;
    }

    &__grid-item:nth-child(3n+0) {
      grid-column: 2;
    }

    @media (min-width: 620px) {
      &__grid {
        max-width: 40rem;
        grid-template-columns: repeat(6, 5rem);
      }

      &__grid-item {
        width: 11rem;
        height: 11rem;
      }

      &__grid-item:nth-child(5n+1) {
        grid-column: 1;
      }

      &__grid-item:nth-child(5n+2) {
        grid-column: 3;
      }

      &__grid-item:nth-child(5n+3) {
        grid-column: 5;
      }

      &__grid-item:nth-child(5n+4) {
        grid-column: 2;
      }

      &__grid-item:nth-child(5n+0) {
        grid-column: 4;
      }
    }
    @media #{$large-and-up} {
      &__grid {
        max-width: 50rem;
        grid-template-columns: repeat(8, 5rem);
      }

      &__grid-item:nth-child(7n+1) {
        grid-column: 1;
      }

      &__grid-item:nth-child(7n+2) {
        grid-column: 3;
      }

      &__grid-item:nth-child(7n+3) {
        grid-column: 5;
      }

      &__grid-item:nth-child(7n+4) {
        grid-column: 7;
      }

      &__grid-item:nth-child(7n+5) {
        grid-column: 2;
      }

      &__grid-item:nth-child(7n+6) {
        grid-column: 4;
      }

      &__grid-item:nth-child(7n+0) {
        grid-column: 6;
      }
    }
    @media #{$extra-large-and-up} {
      &__grid {
        max-width: 70rem;
        grid-template-columns: repeat(10, 5rem);
      }

      &__grid-item:nth-child(9n+1) {
        grid-column: 1;
      }

      &__grid-item:nth-child(9n+2) {
        grid-column: 3;
      }

      &__grid-item:nth-child(9n+3) {
        grid-column: 5;
      }

      &__grid-item:nth-child(9n+4) {
        grid-column: 7;
      }

      &__grid-item:nth-child(9n+5) {
        grid-column: 9;
      }

      &__grid-item:nth-child(9n+6) {
        grid-column: 2;
      }

      &__grid-item:nth-child(9n+7) {
        grid-column: 4;
      }

      &__grid-item:nth-child(9n+8) {
        grid-column: 6;
      }

      &__grid-item:nth-child(9n) {
        grid-column: 8;
      }
    }
  }
}
