.fl-builder-content.fl-builder-content {
  a.fl-button.fl-button {
    color: $color-white;
    background: transparent;
    border: 1px solid $color-white;
    padding: 1em 2em;
    text-transform: uppercase;
    font-size: 17px;
    letter-spacing: 1px;
    box-shadow: $box-shadow;

    &:hover, &:active, &:focus {
      background: rgba($color-purple, 0.9);
    }
  }

  .fl-button-width-full a.fl-button {
    display: block;
  }

  .btn-secondary a.fl-button {
    background: $color-purple;
    border: 1px solid $color-purple;

    .fl-button-text {
      color: $color-white;
    }

    &:hover, &:active, &:focus {
      background: $color-white;

      .fl-button-text {
        color: $color-purple;
      }
    }
  }

  .bb_boot_card_link_button {
    padding: 10px 20px 12px;
    border-radius: 4px;
    font-weight: $weight-light;
    letter-spacing: 1px;
    border: 1px solid $color-purple;
    background: $color-purple;

    .bb_boot_button {
      color: $color-white;
      font-family: $font-roboto;
      font-size: 17px;
    }

    &:hover, &:active, &:focus {
      background: $color-white;

      .bb_boot_button {
        color: $color-purple;
      }
    }
  }
}

.main .button {
  @extend .bb_boot_card_link_button;

  color: $color-purple;
  font-family: $font-roboto;
  font-size: 17px;
  transition: all 0.3s;
  cursor: pointer;

  &:hover, &:active, &:focus {
    background: rgba($color-purple, 0.9);
    color: $color-white;
  }
}

.main .button, .page-footer .button {
  @extend .bb_boot_card_link_button;

  color: $color-white;
  font-family: $font-roboto;
  font-size: 17px;
  transition: all 0.3s;
  cursor: pointer;
  background: rgba($color-white, 0.2);
  border: 1px solid $color-white;

  &:hover, &:active, &:focus {
    background: rgba($color-purple, 0.9);
    color: $color-white;
  }
}

.btn-secondary {
  @extend .bb_boot_card_link_button;

  color: $color-white;
  transition: all 0.3s;

  &:hover, &:active, &:focus {
    background: $color-white;
    color: $color-purple;
  }
}
