.page-footer {
  background-image: image('footer.png');
  background-color: $color-black;
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.8;

    @include green-blue-gradient-right;
  }

  .footer-content {
    position: relative;
    z-index: 2;

    @media #{$medium-and-up} {
      .menu {
        display: flex;
        justify-content: center;
        margin-top: 3em;

        li {
          margin: 0 15px;
        }
      }
    }
  }

  .footer-copyright {
    position: relative;
    z-index: 2;
    background: $color-green;
  }

  a {
    text-decoration: none;
    display: block;

    &:hover, &:focus, &:active {
      text-decoration: underline;
    }
  }
}
