.banner {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  padding: 0 1em;

  .logo {
    width: 175px !important;
    transition: all 0.4s;
  }

  .admin-bar & {
    top: 32px;
  }

  .fl-builder-edit & {
    top: 45px;
  }

  & + .content {
    // margin-top: 100px;
  }

  nav {
    box-shadow: none;
  }
}

.banner.scrolled {
  background: $color-black !important;
  transition: background-color 200ms linear;

  .logo {
    padding: 5px 15px;
    width: 140px !important;
  }

  nav ul a {
    font-size: 0.8em;
  }
}

nav ul a {
  // color: $color-white;
  font-size: 0.9em;
  transition: all 0.4s;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: $weight-thin;

  &:hover, &:active, &:focus {
    // color: $color-white;
    background-color: rgba($color-purple, 0.8);
  }
}

.header-inline nav ul a {
  padding: 0.5rem 15px;
}

.navbar-menu li.menu-item-has-children:hover {
  > a {
    background-color: rgba($color-purple, 0.8);
  }

  .sub-menu {
    box-shadow: $box-shadow;
    min-width: 200px;
    background: $color-white;
  }
}

.navbar-menu li:hover > a {
  text-decoration: none;
}

.navbar-menu li.menu-item-has-children .sub-menu a {
  color: $color-black;

  &:hover {
    background: rgba($color-grey, 0.4);
  }
}
