// Fonts
$font-poppins: 'Poppins', sans-serif;
$font-roboto: 'Roboto', sans-serif;

// Font Weights
$weight-thin: 200;
$weight-light: 300;
$weight-normal: 400;
$weight-medium: 500;

// Shadows
$box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
